WORKSPACE_PATH=/ruta/a/tus/proyectos

OPENCHAMBER_PORT=puerto_para_levantar_la_ui
UI_PASSWORD=tu_clave_segura

CONFIG_PATH=./data/config
DATA_PATH=./data/app

# Opcional: solo si quieres montar tu carpeta SSH en el contenedor
# Se usa junto a docker-compose.ssh.yml
SSH_DIR=/home/tu_usuario/.ssh
